html
{
	height:100%;
}
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:1em;
	background-color: #282323;
	color:#E5E5E5;
	overflow:hidden;
	height:100%;
}
h1{
	margin:0px;
	padding:0px;
	font-size:1.35em;
	color:#E9AC61;
	margin-bottom:0.77%;
}
a
{
	margin:0px;
	padding:0px;
	color:#E3C197;
	margin-bottom:0.77%;
	text-decoration:none;
}
}
h2{
	margin:0px;
	padding:0px;
	font-size:1.05em;
	font-weight:normal;
	color:#9D9797;
}

.roundPane a{
	color:#9D9797;
}
.roundPane a:hover{
	color:#E3C197;
}
#content{
	padding:2%;
	padding-top:4%
}
.roundPane{
	background-color: #3A3535 !important;
	border-radius: 18px;
	color:#9D9797;
	padding:5% !important;
	margin:9% !important;
	text-align:center;
	width:70%;
	height:auto;
	position:relative;
	margin-top:3%
}

.closeBtn{
	top:0;
	right:0;
	position:absolute;
	margin-top:7%;
	margin-right:4%;
}

#getAccessKeys{
	right:0;
	left:0;
	padding:2%;
}

input[type="text"]{
	width:46%;
	padding:2%;
	text-align: center;
	margin-bottom:1.5%;
	background-color: #504B4B;
	border: none;
	color:#E5E5E5;
}

#readersPane{
	background: url(../img/person84.png) bottom right;
	background-size: 25%;
	background-repeat: no-repeat;
}

input[type="button"]{
	width:33%;
	padding:2%;
	text-align: center;
	margin-bottom:1.5%;
	background-color: #504B4B;
	border: none;
	cursor: pointer;
	color:#E5E5E5;
}


#output{
	width:70%;
}
#toolbar{
	height:45px;
	width:100%;
	background-color:black;
	float:right;
	padding:10px;
}

#toolbar > h1{
	padding:10px;
	margin:0;
	float:right;
	font-size:1.15em;
	font-weight:normal;
	position:relative;
}

#wrapper
{
	height:100%;
}
#right_tool{
	float:right;
	padding:1%;
}
input[type="button"]{
	background-color:#414242;
}

#sidePanel
{
	height:100%;
	float:left;
	background-color:#161010;
	width:15%;
	position:relative;
}

ul
{
	list-style:none;
}
li
{
	padding:0.5em;
}

.contentPanel
{
	position:fixed;
	margin-left:17%;
	margin-top:5%;

	background-color: #5E5151;
	border-radius:8px;
	width:65%;
}

.contentPanel h1
{
	background-color: #1C1818;	
	margin:0%;
	padding:3%;
}

.contentPanel p
{
	padding:3%;
}

.tab_panel
{
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
    margin-top:3%;
    display:inline-block;
    width:100%;
}
.tab_panel ul
{
    list-style: none;
    padding:0%;
    margin:0%;
    font-size:1.05em;
    width:100%;
}
.tab_panel li
{
    float:left;
    padding:0.7em;
    margin:0.5%;
    border-radius:0.3em;
}
.tab_panel li:hover
{
    background-color:#DBE5E9;

}
.tab_panel a
{
    color:black;
}
.active li
{
    background-color:#F0F2F3;
}
